# Cấu hình cổng chạy ứng dụng Backend API
PORT=3000

# URL cơ sở của ứng dụng
APP_URL=https://cpapi.jamesnguyen831.id.vn

# Khóa bí mật dùng để mã hóa JWT (JSON Web Token)
JWT_SECRET=

# Đường dẫn lưu trữ file SQLite database
DB_STORAGE=./src/database/database.sqlite

# Khóa bảo mật phụ trợ (nếu dùng)
PASS_SECRET=
